
// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
// Create your own map

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/utilities";

$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
  )
);

$theme-colors: (
    "light":      #cad4d1,
    "dark":       #160f2e,
    "primary":    #0239ac,
    "secondary":  #d20427,
    "info":       #f8533b,
    "success":    #029e5b,
    "warning":    #e0ca02,
    "danger":     #ee1a01,
);

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

